@model SimpleNews.Areas.Admin.ViewModels.UsersIndex
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @foreach (var item in Model.Users)
        {
            <p>@item.UserName</p><br />
        }
    </div>
</body>
</html>
